In [45]:
import pandas as pd

data = pd.read_csv('files/indice.csv')

data.head()

,Unnamed: 0,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Ano
0,2025,"0,16%","1,31%",--,--,--,--,--,--,--,--,--,--,"1,47%"
1,2024,"0,42%","0,83%","0,16%","0,38%","0,46%","0,21%","0,38%","-0,02%","0,44%","0,56%","0,39%","0,52%","4,83%"
2,2023,"0,53%","0,84%","0,71%","0,61%","0,23%","-0,08%","0,12%","0,23%","0,26%","0,24%","0,28%","0,56%","4,62%"
3,2022,"0,54%","1,01%","1,62%","1,06%","0,47%","0,67%","-0,68%","-0,36%","-0,29%","0,59%","0,41%","0,62%","5,78%"
4,2021,"0,25%","0,86%","0,93%","0,31%","0,83%","0,53%","0,96%","0,87%","1,16%","1,25%","0,95%","0,73%","10,06%"

## Renomeando colunas para facilitar o entendimento

In [46]:
data.rename(columns={"Ano": "Variação Anual", "Unnamed: 0": "Ano"}, inplace=True)
data.head()

,Ano,Jan,Fev,Mar,Abr,Mai,Jun,Jul,Ago,Set,Out,Nov,Dez,Variação Anual
0,2025,"0,16%","1,31%",--,--,--,--,--,--,--,--,--,--,"1,47%"
1,2024,"0,42%","0,83%","0,16%","0,38%","0,46%","0,21%","0,38%","-0,02%","0,44%","0,56%","0,39%","0,52%","4,83%"
2,2023,"0,53%","0,84%","0,71%","0,61%","0,23%","-0,08%","0,12%","0,23%","0,26%","0,24%","0,28%","0,56%","4,62%"
3,2022,"0,54%","1,01%","1,62%","1,06%","0,47%","0,67%","-0,68%","-0,36%","-0,29%","0,59%","0,41%","0,62%","5,78%"
4,2021,"0,25%","0,86%","0,93%","0,31%","0,83%","0,53%","0,96%","0,87%","1,16%","1,25%","0,95%","0,73%","10,06%"

## Alterando os tipos de dados
### Atualmente, nossos dados estão como string, ou obj

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ano             26 non-null     int64
 1   Jan             26 non-null     object
 2   Fev             26 non-null     object
 3   Mar             26 non-null     object
 4   Abr             26 non-null     object
 5   Mai             26 non-null     object
 6   Jun             26 non-null     object
 7   Jul             26 non-null     object
 8   Ago             26 non-null     object
 9   Set             26 non-null     object
 10  Out             26 non-null     object
 11  Nov             26 non-null     object
 12  Dez             26 non-null     object
 13  Variação Anual  26 non-null     object
dtypes: int64(1), object(13)
memory usage: 3.0+ KB

In [ ]:

for column in data.columns[1:]: # não vamos mexer na coluna "Ano"
    print(column)
    data[column] = data[column].str.replace(',', '.').replace('%', '').astype('float64')
    # data[column] = data[column].str.replace('%', '').astype('float64')

data.head()

Jan

ValueError: could not convert string to float: '0,16%'